@import '_variables';
@import '_mixins';


$dimensions: ('m': 'margin', 'p': 'padding');
$directions: (t: 'top', b: 'bottom', l: 'left', r: 'right');

@for $i from 1 through 5 {
    @each $dim in $dimensions {
        @each $dir in $directions {
            $size: $i * 5;
            .#{nth($dim, 1)}-#{nth($dir, 1)}-#{$size} {
                #{nth($dim, 2)}-#{nth($dir, 2)}: #{$size}px;
            }
        }
    }
}